name: Frontend

on:
  push: 
    branches:
      - "main"
    paths:
      - "frontend/**"
      - ".github/workflows/frontend.yaml"

jobs:
  
  build:
    runs-on: fantasma
    steps:
    # - uses: actions/checkout@v3
    # - name: Copy config directory to bot and api directories
    #   run: |
    #     set -e
    #     cp -r ./config ./bot/
    #     cp -r ./config ./api/
    #     cp -r ./config ./website/
    - uses: actions/checkout@v3
    - name: Build the Docker image
      run: |
        set -e

        cp -r config frontend

        sleep 5

        docker build \
        --build-arg PUBLIC_SUPABASE_URL="https://abpesbxmunspoxztrygm.supabase.co" \
        --build-arg PUBLIC_SUPABASE_ANON_KEY="eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImFicGVzYnhtdW5zcG94enRyeWdtIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NjI3ODM2MTcsImV4cCI6MjA3ODM1OTYxN30.q8cDAkq7L3FelAfoZT2d65Pg-QWzGQ7LhjhJImWY81o" \
        --tag ft-frontend ./frontend

  deploy:

    runs-on: fantasma
    needs: build

    steps:
      - uses: actions/checkout@v3
      - name: Launch docker containers
        run: |
          set -e
          echo "Starting the docker containers"
          docker rm -f frontend && docker run -d --restart always --net host --name frontend ft-frontend
          


